[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ssml-builder = "*"
google-cloud-texttospeech = "*"
ffmpeg = "*"
mutagen = "*"
pdf2image = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.13"
